<?xml version="1.0"?>
<configuration>
  <ldapServers>
    <ldapServer value="OpenLDAP" default="true">
      
      <!--<url value="LDAP://172.18.6.39:389/dc=maxcrc,dc=com" />
      <username value="cn=Jorge Lagos,ou=People,dc=maxcrc,dc=com"/>
      <password value="jorge_bmmr"/>-->

      <url value="LDAP://ptalwsg002:389/dc=maxcrc,dc=com" />
      <username value="cn=basic_user,ou=People,dc=maxcrc,dc=com"/>
      <password value="basic_user"/>




      <users>
        <rdnAttribute value="uid" />
        <emailAttribute value="mail" />
      </users>
      <authenticationTypes>
        <authenticationType value="None" />
      </authenticationTypes>
    </ldapServer>
    <!--<users>
      <membershipUserWrappingEnabled value="false" />
    </users>-->
    <groups>
      <base value="ou=groups,dc=maxcrs,dc=com" />
      <filter value="(objectClass=groupOfNames)"/>
      <rdnAttribute value="cn" />
      <membershipAttribute value="member" />
    </groups>
  </ldapServers>
</configuration>
